* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --cor1: #8D7B68;
    --cor2: #A4907C;
    --cor3: #C8B6A6;
    --cor4: #eee9e2fe;
    --cor5: #fff;
    --cor6: #000;
}

body {
    background-color: var(--cor4);
}

.nav-bar {
    background-color: var(--cor1);
    display: flex;
    justify-content: space-between;
    align-items: center; /*PARA CENTRALIZAR VERTICALMENTE*/
    padding: 15px 50px;
}

.nav-logo {
    width: 70px;
    border-radius: 50%;
}

.nav-ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-link {
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--cor6);
    transition: .5s;
    text-shadow: 0px -20px 0px black;

}

.cabecalho {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/pexels5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fs-1 {
    font-size: 50px;
    text-transform: uppercase;
    color: var(--cor1);
    text-shadow: 2px 1px 5px var(--cor6);
}

.fs-2 {
    text-align: right;
    font-size: 18px;
    line-height: .6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 25px;
}

.img-100 {
    width: 100%;
}

.img-50 {
    width: 48.5%;
}

.img-25 {
    width: 24%;
}

@media screen and (max-width: 642px) {
    .img-50 {
        width: 48.5%;
    }
    
    .img-25 {
        width: 24%;
    }

    #logoo {
        display: none;
    }
}

.sec1 {
    justify-content: space-between;
}

.line01 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.line02 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.footer {
    background-color: var(--cor2);
    color: var(--cor4);
    padding: 15px;
}

.footer ul{
    list-style: none;
    display: flex;
    font-size: 12px;
    gap: 15px;
    justify-content: right;
    width: 80%;
    margin: 0 auto;
}

.conteudo-texto {
    color: var(--cor1);
}

.conteudo-h1 {
    font-style: italic;
    margin-top: 3vh;
    border-bottom: 2px solid var(--cor3);
}

.texto01 {
    margin-top: 3vh;
    line-height: 30px;
    text-align: justify;

}

span {
    font-size: 25px;
    margin-left: 45px;
}

.texto02 {
    margin: 55px;
    text-align: justify;
    font-style: italic;
}

.texto03 {
    text-align: justify;
    line-height: 30px;
}

.texto04 {
    margin: 55px;
    text-align: justify;
    font-style: italic;
}

.texto05 {
    margin: 4vh 0;
    text-align: justify;
    line-height: 30px;
}

.texto06 {
    margin: 3vh 0;
}
