* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5px 20px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.list-link {
    text-decoration: none;
    color: white;
}

.list-link:hover {
    text-shadow: 2px 2px 2px lime;
}

/*Style da home*/

.cabecalho {
    background-color: rgb(13, 51, 13);
    color: white;
    padding: 80px;
    font-size: 30px;
}

.dobra01 {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    gap: 20px;
}

.dobra01-img {
    border-radius: 50%;
    width: 25%;
    margin-bottom: 20px;
}

.dobra01-h2 {
    margin-top: 20px;
    border-bottom: 5px solid black;
}

.dobra01-p {
    margin-top: 15px;
    line-height: 1.5;
}

.dobra-02 {
    background-color: rgb(107, 102, 102);
    padding: 50px 0;
    text-align: center;
}

.dobra02-h2{
    margin-bottom: 55px;
    font-size: 25pt;
}

.dobra02-container {
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.dobra02-img {
    width: 70%;
    padding: auto 0px;
}

.rodape {
    padding: 50px auto;
    height: 80px;
    background-color: rgb(18, 66, 18);
    display: flex;
    justify-content: center;
    color: white;
    gap: 20px;
    font-size: 13px;
}

.ind {
    padding-top: 30px;
}

/*Style do artigo*/

.sec01-artigo {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.img01-artigo {
    border-radius: 50%;
    width: 30%;
    margin-top: 20px;
}

.h2-artigos {
    font-size: 15pt;
    margin-top: 60px;
    margin-left: 20px;
    border-bottom: 5px solid black;
}

.p-artigos {
    line-height: 1.5;
    margin-left: 20px;
    margin-top: 20px;
    text-align: justify;
}

.sec02-artigo {
    width: 80%;
    margin: 0 auto;
}

.div02-artigo {
    line-height: 1.5;
    margin-top: 70px;
    padding-left: 25px;
}

.p02-artigo {
    margin-bottom: 20px;
    text-align: justify;
}

.div03-artigo {
    margin-top: 120px;
    padding-left: 25px;
}

.p03-artigo {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
}

.img02-artigo {
    width: 100%;
    margin: 35px auto;
}

.fot-artigo {
    background-color: rgb(16, 54, 16);
    display: flex;
    justify-content: center;
    height: 70px;
    margin: 0 auto;
}

.li-artigo{
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: white;
}
.lu-artigo {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

/*Style da galeria*/

.cabecalho-galeria {
    background-color: rgb(18, 66, 18);
    padding: 80px;
    color: white;
    font-size: 30px;
}

.conteudo-galeria {
    width: 80%;
    margin: 30px auto;
    font-size: 20px;
}

.h2-galeria {
    padding-bottom: 25px;
}

.linha-img-01-galeria {
    display: flex;
    justify-content:space-between;
    padding: 15px auto;
}

.linha-img-02-galeria {
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}

.img-galeia {
    width: 100%;
}

.linha-img-04-galeria {
    justify-content: space-between;
    display: flex;
    margin: 20px auto;
}

.linha-img-05-galeria {
    display: flex;
    justify-content: space-between;
}

.footer-galeria {
    background-color: rgb(18, 66, 18);
    padding: 30px;
    justify-content: center;
    display: flex;
}

.li-artigo-galeria {
    list-style-type: none;
    gap: 20px;
    color: white;
    display: flex;
}